@font-face {
    font-family: 'DKLemonYellowSun';
    src: url('./DKLemonYellowSun.woff2') format('woff2'),
        url('./DKLemonYellowSun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}